body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}

.monospace {
  font-family: $monospace-font-family;
  font-weight: $monospace-font-weight;
  font-size: $monospace-font-size;
  line-height: $monospace-line-height;
  -webkit-font-smoothing: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $heading-color;
  .reversed & { color: $reversed-heading-color; }
}

.h1, .h2, %h1, %h2 { line-height: 0.7 * $base-line-height; }
.h3, .h4, %h3, %h4 { line-height: 0.8 * $base-line-height; }
.h5, .h6, %h5, %h6 { line-height: 0.9 * $base-line-height; }

.h1, %h1 { font-size: 2.488rem; letter-spacing: 0; }
.h2, %h2 { font-size: 2.074rem; letter-spacing: -1px; }
.h3, %h3 { font-size: 1.728rem; }
.h4, %h4 { font-size: 1.44rem; }
.h5, %h5 { font-size: 1.2rem; }
.h6, %h6 { font-size: 1rem; }

.superscript, .subscript {
  font-size: 0.75em;
  font-weight: $normal;
  line-height: 0;
  position: relative;
}
.superscript { top: -0.5em; }
.subscript { bottom: -0.25em; }

.block-margins {
  margin: 0.5rem 0 1rem;
}
.large-block-margins {
  margin: 1rem 0 1.5rem;
}

.blockquote {
  border-left: 3px solid $border-color;
  padding-left: 1.5rem;
  font-style: italic;
}

.large-blockquote {
  font-size: 1.3em;
  font-weight: $normal;
  line-height: 1.4;
  margin: 2rem 0;
}

.typeset {
  h1, .h1 { @extend %h1; margin: 0.75em 0 0.75em; }
  h2, .h2 { @extend %h2; margin: 1.5em 0 0.75em; }
  h3, .h3 { @extend %h3; margin: 1em 0 0.5em; }
  h4, .h4 { @extend %h4; margin: 1em 0 0.5em; }
  h5, .h5 { @extend %h5; margin: 1em 0 0.5em; }
  h6, .h6 { @extend %h6; margin: 1em 0 0.5em; }

  p, ol, ul, blockquote { @extend .block-margins; }
  ul li { list-style: disc; }
  ol li { list-style: decimal; }
  li { margin-left: 2.25em; margin-bottom: 0.5em}

  i, em { font-style: italic; }
  b, strong { font-weight: bold; }

  blockquote { @extend .blockquote; }

  code { color: $accent-color; }
  code, pre { @extend .monospace; }

  sup { @extend .superscript; }
  sub { @extend .subscript; }
}
