$sg-breadcrumbs-height: 60px;

.sg-breadcrumbs {
  display: inline-block;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  height: $sg-breadcrumbs-height;
  line-height: $sg-breadcrumbs-height;
  margin-right: ($sg-breadcrumbs-height / 2)
}

.sg-breadcrumb {
  display: inline-block;
  position: relative;
  z-index: 20;
  margin-right: -5px;

  & + & { z-index: 19; }
  & + & + & { z-index: 18; }
  & + & + & + & { z-index: 17; }
}

a.sg-breadcrumb-target {
  position: relative;

  display: block;

  color: #ddd;
  background: #34495e;
  box-shadow: #233140 4px 0 0;
  padding: 0 5px 0 (($sg-breadcrumbs-height / 2) + 20px);
  text-decoration: none;


  &::after {
    position: absolute;
    left: 100%;
    top: 0;

    border-top: ($sg-breadcrumbs-height / 2) solid transparent;
    border-bottom: ($sg-breadcrumbs-height / 2) solid transparent;
    border-left: ($sg-breadcrumbs-height / 2) solid #34495e;

    content: '';
  }

  &::before {
    position: absolute;
    right: -(($sg-breadcrumbs-height / 2) + 4px);
    top: 0;

    border-top: ($sg-breadcrumbs-height / 2) solid transparent;
    border-bottom: ($sg-breadcrumbs-height / 2) solid transparent;
    border-left: ($sg-breadcrumbs-height / 2) solid #233140;

    content: '';
  }
    
  &:hover {
    color: white;
    background: #506275;
    &::after { border-left-color: #506275; } 
  }

  .b1 & {
    padding-left: 15px;
  }

}
